body{
    margin: 0;
    padding: 0;
    background-color: #05243A;
   
    font-family: sans-serif;
    
  }
  h1{
    margin: 10;
    padding: 10;
    text-align: center;
    font-size:22px;
   
    
    }
.register
{
color:white;
background-color:black;
background-position: center;  
top:50%;
left: 50%;
right: 50%;
transform: translate(0%,-1%);
 padding: 3px 3px;
}


td
{
    color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { 
  background-color:white;
color:black;


}
.table{
  margin-top:20px;
} 

.r input[type="submit"]
{
  border:none;
  outline: none;
  width:100%;

  height: 40px;
  background:BLUE;
  color:#fff;
  font-size: 18px;
  border-radius: 20px;
  position: absolute;
  transform: translate(0%,1%);

}


.r input[type="submit"]:hover
{
cursor:pointer;
background:#ffc107;
color: #000;

} 


a{
  color:#6CB9FF; 
}

a:hover{
  background-color:white;
  color:#4A99E0;
}
