body{
	font-family: sans-serif;
	margin: 20px 40px;
	background-image: url('Images/banner_img.png');
	color:white;
   }
   #mainbox{
	font-size: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-left: 300px;
   }
  
   .sidemenu{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	background-color: rgb(0, 0, 0, 0.8);
	padding-top: 100px;
	overflow-x: hidden;
	transition: all .5s;
	z-index: 100;
   }
   .sidemenu a{
	padding: 8px 8px 8px 64px;
	text-decoration: none;
	font-size: 20px;
	color:white;
	display: block;
   }
  
   .sidemenu .closebtn{
	position: absolute;
	top: 0px;
	right: 25px;
	font-size: 36px;
	margin-left: 32px;
   }
.content{
	padding:20px; transition: margin-left 0.7s;
   }
   .session{
	   color: white;
   }
   #menu{
	   width: 300px;
   }